@import url(https://fonts.googleapis.com/css?family=Manrope:500,700);

* {
   margin: 0;
}
:root {
   --clr-v-dark-greyish-blue: hsl(217, 19%, 35%);
   --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
   --clr-greyish-blue: hsl(212, 23%, 69%);
   --clr-light-greyish-blue: hsl(210, 46%, 95%);
}

body {
   background-color: var(--clr-light-greyish-blue);
   font-family: "Manrope", "san-serif";
}

main {
   width: 87%;
   max-width: 450px;
   margin: 20vh auto 0;
   border-radius: 8px;
   background-color: #fff;
}

#cover {
   height: 13.5rem;

   img {
      width: 100%;
      height: 15rem;
      margin-top: -2.1rem;
      object-position: 50% 1.9rem;
      object-fit: 100%;
   }
}

#text {
   padding: 2rem 2.3rem;

   h1 {
      font-size: 1rem;
      color: var(--clr-v-dark-greyish-blue);
   }
   p {
      font-size: 13px;
      line-height: 1.5;
      margin-top: 1rem;
      color: var(--clr-desaturated-dark-blue);
   }
}

#share-profile {
   display: flex;
   align-items: center;
   padding: 13px 2.3rem;
   justify-content: space-between;
   position: relative;

   > img {
      height: 2.4rem;
      border-radius: 50%;
   }

   #stats {
      margin-inline: 1.2rem auto;

      h2 {
         font-size: 0.7rem;
      }
      small {
         font-size: 12px;
         color: var(--clr-greyish-blue);
      }
   }

   #share-svg,
   .pop-up {
      position: absolute;
   }

   .share-svg {
      height: 0.8rem;
      padding: 8px;
      border-radius: 50%;
      right: 2.3rem;
      z-index: 10;
      background-color: var(--clr-light-greyish-blue);
   }

   .shared {
      background-color: var(--clr-desaturated-dark-blue);
   
      path {
         fill: #fff;
      }
   }

   .share-svg:hover {
      cursor: pointer;
   }

   .pop-up {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      padding: 0 2.3rem;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      display: flex;
      align-items: center;
      opacity: 0;
      transition: 0.5s;
      transform: scaleX(0);
      transform-origin: 90% 50%;
      pointer-events: none;
      background-color: var(--clr-v-dark-greyish-blue);

      small {
         color: var(--clr-greyish-blue);
         letter-spacing: 4px;
      }
      svg {
         margin-left: 1rem;
      }
   }

   .pop-up-clicked {
      opacity: 1;
      transform: scaleX(1);
   }
}

@media (min-width: 800px) {
   main {
      display: flex;
      max-width: 700px;
   }

   main > * {
      flex-basis: 100%;
   }
   
   #second {
      flex-basis: 60%;
   }

   #cover {
      flex-basis: 40%;
      height: 16.6rem;
      width: 17rem;
      position: relative;
      overflow: hidden;

      img {
         position: absolute;
         height: 100%;
         width: 21rem;
         margin-top: 0;
         object-position:  50%;
         object-fit: cover;
         border-top-left-radius: 8px;
         border-bottom-left-radius: 8px;
      }
   }  

   #share-profile .pop-up {
      box-sizing: content-box;
      width: 11rem;
      height: 3rem;
      left: initial;
      right: -17.5%;
      bottom: 5rem;
      border-radius: 7px;
      transform-origin: 50% 50%;

      &::after {
         position: absolute;
         bottom: -.7rem;
         left: 50%;
         transform: translateX(-50%) rotate(45deg);
         width: 1.5rem; height: 1.5rem;
         content: '';
         background-color: var(--clr-v-dark-greyish-blue);
      }
   }
}